body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #2f2f2f;
    color: #efefef;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #202020;
}
table, th, td {
    border: 1px solid rgb(136, 39, 39);
}
th, td {
    padding: 5px;
    text-align: left;
}
th {
    background-color: #121212;
}
form {
    margin-bottom: 40px;
}